<template>
  <div id="app">
    <tree-container v-if="loaded" ref="tree" :datasource="ds" @node-click="selectNode" :is-node-selected="isNodeSelected"></tree-container>
    <modal v-if="showModal" @close="closeModal()" :title="selectedNode.node.name" :description="selectedNode.node.description" ></modal>
  </div>
</template>

<script>
import TreeContainer from './components/TreeContainer.vue'
import Modal from './components/Modal.vue'
import axios from 'axios';

export default {
  name: "App",
  components: {
    TreeContainer,
    Modal
  },
  methods: {
    selectNode (nodeData, el) {
      this.selectedNode = nodeData
      this.selectedElement = el
      this.showModal = true
    },
    isNodeSelected() {
      if(this.selectedNode === null){
        return false
      } else {
        return  true
      }
    },
    closeModal(){
      this.showModal = false
      this.$refs.tree.deselectNode(this.selectedElement)
      this.selectedNode = null
      this.selectedElement = null
    }
  },

  data () {
    return {

      showModal: false,
      selectedNode: null,
      selectedElement: null,
      ds: null,
      loaded: false
    }
  },
  mounted () {
    axios
        .get('http://localhost:3000/tree/A')
        .then(response => {
          this.ds = response.data
          this.loaded = true
        })
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
