<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="close-button" @click="$emit('close')">
            X
          </div>
          <div class="modal-header">
            <slot name="header">
              {{title}}
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              {{description}}
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "Modal",
  props:{
    title: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
  position:relative;
}

.modal-container .close-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: -30px;
  background-color: rgb(38,93,93);
  color: rgb(255,255,255);
  cursor: default;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.modal-header {
  margin-top: 0;
  color: rgb(38,93,93);
  text-align: left;
}

.modal-body {
  margin: 20px 0;
  color: rgb(38,93,93);
  text-align: left;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

</style>
