<template>
  <table>
    <tbody>
      <tr>
       <td :colspan="datasource.children && datasource.children.length ? datasource.children.length*2 : null">
        <div class="node" :ref="datasource.node.name" :id="datasource.node.name" @click="selectNode(datasource)">
            <div class="title">
              {{ datasource.node.name }}
            </div>
        </div>
       </td>
      </tr>
      <template v-if="datasource.children && datasource.children.length">
        <tr class="lines">
          <td :colspan="datasource.children.length*2">
            <div class="downLine"></div>
          </td>
        </tr>
        <tr class="lines">
          <td class="rightLine"></td>
         <template v-for="n in (datasource.children.length-1)">
            <td class="leftLine topLine" :key="n.name"></td>
            <td class="rightLine topLine" :key="n.name"></td>
         </template>
          <td class="leftLine"></td>
        </tr>
        <tr class="nodes">
          <td colspan="2" v-for="child in datasource.children" :key="child.node.name">
            <tree-structure :datasource="child" :handle-click="handleClick" :is-node-selected="isNodeSelected">
            </tree-structure>
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</template>

<script>

export default {
  name: 'TreeStructure',
  props: {
    datasource: Object,
    handleClick: Function,
    isNodeSelected: Function,

  },
  components: {
  },
  methods: {
    selectNode(datasource) {
      if( !this.isNodeSelected()) {
        this.handleClick(datasource, this.$refs[datasource.node.name]);
        this.$refs[datasource.node.name].classList.add("focused");
      }
    },
    deselectNode(el){
      el.classList.remove("focused");
    },
  }
};
</script>

<style>
/* node styling */
.node {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  margin: 2px;
  padding: 3px;
  border: 2px solid transparent;
  border-radius: 7px 0 7px 0;
  box-shadow: 1px 1px 1px 1px rgb(200, 200, 200);
  text-align: center;
  width: 130px;
  background-color: rgb(255, 255, 255);
}

.node.focused {
  border-color: rgb(96, 96, 96);
  transition: 0.5s;
  cursor: default;
  z-index: 20;
}

.node:hover {
  border-color: rgb(96, 96, 96);
  transition: 0.5s;
  cursor: default;
  z-index: 20;
}

.node .title {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(0, 0, 0);
  border-radius: 4px 4px 0 0;
}


.node {
  transition: transform 0.3s, opacity 0.3s;
}
</style>
