<template>
  <div class="orgchart-container">
    <div class="orgchart">
      <tree-structure ref="treeStructure" v-on:node-click="selectNode(datasource)"
                      :datasource="datasource" :handle-click="handleClick" :is-node-selected="isNodeSelected">
      </tree-structure>
    </div>
  </div>
</template>

<script>
import TreeStructure from './TreeStructure.vue'

export default {
  name: 'TreeContainer',
  props: {
    datasource: {
      type: Object,
      required: true
    },
    isNodeSelected: Function
    },
  components: {
    TreeStructure
  },
  methods: {
    handleClick (nodeData, el) {
      this.$emit('node-click', nodeData, el)
    },
    deselectNode (el) {
      this.$refs.treeStructure.deselectNode(el)
    }
  }
};
</script>

<style>
.orgchart-container {
  position: relative;
  display: inline-block;
  border: 2px dashed #aaa;
  border-radius: 5px;
  overflow: auto;
  text-align: center;
  background-color: rgb(249,249,249);
}
.orgchart {
  box-sizing: border-box;
  display: inline-block;
  padding: 20px;
}

.orgchart table {
  border-spacing: 0;
  border-collapse: separate;
}

.orgchart > table:first-child {
  margin: 20px auto;
}

.orgchart td {
  text-align: center;
  vertical-align: top;
  padding: 0;
}

.orgchart .lines:nth-child(3) td {
  box-sizing: border-box;
  height: 20px;
}

.orgchart .lines .topLine {
  border-top: 2px solid rgb(217, 217, 217);
}

.orgchart .lines .rightLine {
  border-right: 1px solid rgb(217, 217, 217);
  float: none;
  border-radius: 0;
}

.orgchart .lines .leftLine {
  border-left: 1px solid rgb(217, 217, 217);
  float: none;
  border-radius: 0;
}

.orgchart .lines .downLine {
  background-color: rgb(217, 217, 217);
  margin: 0 auto;
  height: 20px;
  width: 2px;
  float: none;
}
</style>
